*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    text-align: center;
    align-items: center;
    height: 100vh;
}
main{
    display: flex;
    gap: 1vw;
    text-align: center;
    align-items: center;
}
button{
    height: 5vh;
    width: 5vw;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.24, rgb(205, 1, 198)), color-stop(0.62, rgb(255, 0, 170)));
    border-radius: 10px;
    color: white;
    border-style: none;
    transition: 0.35s;
}
button:hover{
    transform: scale(110%);
}